In [1]:
import pandas as pd
import numpy as np

In [6]:
df_pob = pd.read_csv(
    './input/poblacion.csv'
)

In [21]:
pd.options.display.float_format = '{:,.1f}'.format
df_pob['year'] = pd.Categorical(df_pob['year'].apply(str))

In [22]:
df_pob.dtypes

Country      object
year       category
pop         float64
dtype: object

In [23]:
idx_filtro = df_pob['Country'].isin(['Aruba','Colombia'])
idx_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [24]:
df_sample = df_pob[idx_filtro]
df_sample

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0
562  Colombia  2017 48,901,066.0
789     Aruba  2018    105,845.0
822  Colombia  2018 49,648,685.0

In [36]:
df_sample = df_sample.set_index(['Country','year']).sort_index()
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [37]:
df_sample.loc['Colombia',:]

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [38]:
df_sample.loc['Colombia',:].loc['2016']

pop   48,171,392.0
Name: 2016, dtype: float64

In [39]:
df_sample.xs(['Aruba', '2018'])

/tmp/ipykernel_2442592/3194640921.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df_sample.xs(['Aruba', '2018'])

pop   105,845.0
Name: (Aruba, 2018), dtype: float64

In [40]:
df_sample.xs('2018', level='year')

                  pop
Country
Aruba       105,845.0
Colombia 49,648,685.0

In [45]:
df_countries = df_pob.set_index(['Country','year']).sort_index(ascending=[True, True])

In [49]:
ids = pd.IndexSlice
df_countries.loc[ids['Aruba':'Austria','2015':'2017'],:].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

In [51]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [55]:
df_countries['pop']['Colombia']['2018']

49648685.0

In [56]:
df_countries.sum(level='year')

/tmp/ipykernel_2442592/2999234035.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df_countries.sum(level='year')

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

In [57]:
df_sample.unstack('year')

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0

In [58]:
df_sample.unstack('Country')

              pop
Country     Aruba     Colombia
year
2015    104,341.0 47,520,667.0
2016    104,872.0 48,171,392.0
2017    105,366.0 48,901,066.0
2018    105,845.0 49,648,685.0