In [1]:

import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.1f}'.format
np.set_printoptions(precision=2)

In [2]:
x1 = np.random.rand(2, 5) * 10

In [5]:
x2 = np.random.rand(2, 5) * -1

In [8]:
np.concatenate([x1,x2]).shape

(4, 5)

In [10]:
np.concatenate([x1,x2], axis=1)

array([[-0.34, -0.06, -0.4 , -0.86, -0.83, -0.07, -0.32, -0.68, -0.25,
        -0.01],
       [-0.2 , -0.08, -0.24, -0.56, -0.1 , -0.86, -0.72, -0.81, -0.29,
        -0.86]])

In [13]:
s1 = pd.Series(x1[0], index=['a', 'b', 'c', 'd', 'e'])

In [14]:
s2 = pd.Series(x1[0], index=['c', 'd', 'e', 'f', 'g'])

In [15]:
pd.concat([s1, s2])

a   -0.3
b   -0.1
c   -0.4
d   -0.9
e   -0.8
c   -0.3
d   -0.1
e   -0.4
f   -0.9
g   -0.8
dtype: float64

In [16]:
pd.concat([s1, s2], axis=1)

     0    1
a -0.3  NaN
b -0.1  NaN
c -0.4 -0.3
d -0.9 -0.1
e -0.8 -0.4
f  NaN -0.9
g  NaN -0.8

In [17]:
s1.reset_index(drop=True)

0   -0.3
1   -0.1
2   -0.4
3   -0.9
4   -0.8
dtype: float64

In [18]:
pd.concat([s1.reset_index(drop=True), s2.reset_index(drop=True)], axis=1)

     0    1
0 -0.3 -0.3
1 -0.1 -0.1
2 -0.4 -0.4
3 -0.9 -0.9
4 -0.8 -0.8

In [19]:
df1 = pd.DataFrame(np.random.rand(3,2)*10,columns=['a','b'])
df1

    a   b
0 2.0 8.4
1 6.3 7.9
2 3.9 1.8

In [20]:
df2 = pd.DataFrame(np.random.rand(3,2)*-1,columns=['a','b'], index = [2,3,4])
df2

     a    b
2 -0.5 -0.2
3 -0.5 -0.2
4 -0.0 -0.8

In [23]:
pd.concat([df1, df2])

     a    b
0  2.0  8.4
1  6.3  7.9
2  3.9  1.8
2 -0.5 -0.2
3 -0.5 -0.2
4 -0.0 -0.8

In [24]:
pd.concat([df1, df2], axis=1)

    a   b    a    b
0 2.0 8.4  NaN  NaN
1 6.3 7.9  NaN  NaN
2 3.9 1.8 -0.5 -0.2
3 NaN NaN -0.5 -0.2
4 NaN NaN -0.0 -0.8

In [25]:
pd.concat([df1, df2], axis=1, join='inner')

    a   b    a    b
2 3.9 1.8 -0.5 -0.2

In [27]:
pd.concat([df2.reset_index(drop=True), df2.reset_index(drop=True)], axis=1)

     a    b    a    b
0 -0.5 -0.2 -0.5 -0.2
1 -0.5 -0.2 -0.5 -0.2
2 -0.0 -0.8 -0.0 -0.8

In [28]:
df1.append(df2)

     a    b
0  2.0  8.4
1  6.3  7.9
2  3.9  1.8
2 -0.5 -0.2
3 -0.5 -0.2
4 -0.0 -0.8

In [29]:
df1.T

    0   1   2
a 2.0 6.3 3.9
b 8.4 7.9 1.8

In [31]:
df1.T.append(df2.T).T

    a   b    a    b
0 2.0 8.4  NaN  NaN
1 6.3 7.9  NaN  NaN
2 3.9 1.8 -0.5 -0.2
3 NaN NaN -0.5 -0.2
4 NaN NaN -0.0 -0.8